#friends-display-link {
  text-align: center;
  display: block;
  background-color: #eeb18e96;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 12px 0px;
}

.friends-screen__friends {
  margin-top: 7px;
  padding: 12px 0px;
}

.friends-screen__channel-header,
.friends-screen__friends-header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

.user-component-friend {
  margin-bottom: 20px;
}

.user-component-friend .user-component__column:last-child {
  padding: 5px 10px;
  border: 3px solid rgba(105, 172, 105, 0.7);
  border-radius: 30px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: rgb(255, 199, 126);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}

#splash-screen img {
  height: 200px;
  width: 200px;
}
