.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more__ad {
  position: relative;
}

.more__ad-img {
  margin-top: 50px;
  width: 100%;
  height: 30%;
  border-radius: 15px;
}

.more__ad-img-text {
  padding: 5px 7px;
  background-color: rgba(135, 145, 135, 0.651);
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.836);
  font-weight: 200;
  position: absolute;
  right: 10px;
  top: 55px;
}
