.badge {
  background-color: rgb(32, 194, 145);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-settings {
  background-color: rgb(247, 149, 198);
  padding: 3px 7px;
  border-radius: 50%;
  color: white;
  font-weight: 100;
  font-size: 15px;
  margin-left: 5px;
}
